.container {
    margin-top: 90px;
    width: 40%;
    padding: 10px 15px;
}
.container h1{
    font-size: 2rem;
    margin-top:10px;
    text-shadow:0px 0px 5px #d4a470, 0px 0px 10px #d4a470, 0px 0px 15px #d4a470, 0px 0px 20px #d4a470, 0px 0px 25px #d4a470;
}
form{
    margin-top: 28px;
} 
.form-controller{
    margin-right:5px;
    margin-left:5px;
}
.isvalid {
	border: 1.5px solid #dc1907 !important;
}
.isvalid:focus {
	box-shadow: 0 0 1px #dc1907,
	0 0 3px #dc1907,
	0 0 5px #dc1907,
	0 0 7px #dc1907,
	0 0 8px #dc1907 !important;
}

.disabled {
	opacity: 0.5 !important;
}

.disabled:hover {
	cursor: not-allowed !important;
	transform: none !important;
	box-shadow: none !important;
}
